p {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%)
}

.product-details {
    background-color: white;
    min-height: 400px;
    border-radius:  0 0 16px 16px;
}

.product-details p {
    padding-top: 16px;
}

.product-details-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
}

.product-details-button {
    padding-top: 16px;    
}

.product-details-button button {
    width: 100%;
}

.product-details-discounted {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    padding-right: 16px;
    color: hsl(158, 36%, 37%)
}

.product-details-retail {
    text-decoration: line-through;
}

.product-card-mobile {
    padding-top: 32px;
    border-radius: 16px
}